.example-card {
    max-width: 350px;
    max-height: auto;
  }
  /* .img {
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
  } */
.img {
  width: 350px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: repeat-x;
  background-size: cover;
  vertical-align: center;

}
.imgContainer {

}