<div class="container">
  <div id="cityDiv" class="col-md-12">

    <div class="col-md-12">
      <div class="col-md-12">
        <mat-card style="right: 80px; bottom: 40px; background-color: whitesmoke">
          Podaj nam miasto, a znajdziemy zwierzaki najbliżej Ciebie!
        </mat-card>
      </div>
      <mat-form-field style="width: 300px;">
        <input matInput placeholder="Miasto">
      </mat-form-field>
      <div class="col-md-12">
        <button mat-raised-button style="left: 100px; background-color: whitesmoke">
          Szukaj
        </button>
      </div>
    </div>
  </div>

  <div id="advencedDiv" class="col-md-12">
    <button mat-raised-button style="left: 90px; background-color: whitesmoke">
      Zaawansowane
    </button>
  </div>
</div>
