#cityDiv {
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center
}
#advencedDiv {
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center
}

#searchDiv {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center
}
#cityField{
  display: flex;
  flex-direction: column;
}

#cityField > * {
  width: 200px;
}


@media (min-width: 768px) {

  .titleDiv {
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #titleText{
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .titleDiv {
    height: 13em;
    display: flex;
    align-items: center;
  }

  #titleText{
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }

}
